body {
  font-family: sans-serif;
  margin: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  border: 2px solid #333;
  width: fit-content;
  margin-top: 20px;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: bold;
  user-select: none;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}

/* Additional styles for special square types and conditions */


/* Frozen: light blue diagonal stripe pattern */
.square.cond-frozen {
  background-image:
    repeating-linear-gradient(45deg,
      rgba(126, 178, 255, 0.6) 0px,
      rgba(126, 178, 255, 0.6) 1px,
      transparent 6px,
      transparent 6px);
}

/* okay great, we got diagonal stripes working */
/* now for stacking multiple conditions */
/* right now, it alternates, every other stripe being standard color, every other being blue */
/* if we add more conditions, we can go standard -> frozen -> optional third one -> optional fourth one -> etc */
/* how to do this? */
/* to define the problem more clearly; */
/* when we have one condition, we want every other stripe to be the condition color */
/* standard -> frozen -> standard -> frozen -> ... */
/* when we have two conditions, we want every third stripe to be the first condition color, every third stripe to be the second condition color, and the rest standard */
/* standard -> frozen -> cond2 -> standard -> frozen -> cond2 -> ... */
/* etc */

/* ugh this won't be necessary until way down the road */
/* so we'll leave it for now */

.highlight {
  border: 3px solid yellow;
}