body {
  font-family: sans-serif;
  margin: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  border: 2px solid #333;
  width: fit-content;
  margin-top: 20px;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: bold;
  user-select: none;
}

.light {
  background: #f0d9b5;
}

.dark {
  background: #b58863;
}

/* Additional styles for special square types and conditions */

.square {
  --patterns: none;
  /* start empty */
  background-image: var(--patterns);
}


/* Frozen: light blue diagonal stripe pattern */
.square.cond-frozen {
  --patterns:
    repeating-linear-gradient(45deg,
      rgba(126, 178, 255, 0.6) 0px,
      rgba(126, 178, 255, 0.6) 1px,
      transparent 1px,
      transparent 6px),
    var(--patterns);
}

/* okay great, we got diagonal stripes working */
/* now for stacking multiple conditions */
/* right now, it alternates, every other stripe being standard color, every other being blue */
/* if we add more conditions, we can go standard -> frozen -> optional third one -> optional fourth one -> etc */
/* how to do this? */

.highlight {
  border: 3px solid yellow;
}